<h1>Create issue page</h1>
<ul>
  <li>Title</li>
  <li>Description</li>
  <li>
    Labels (multiple labels can be added to a project, IF a project has a label
    already show it (in dropdown) as the user types the label in)
  </li>
  <li>Author</li>
</ul>
