<h1>Project Detail Page</h1>
<p>List of bugs on the project</p>
<h3>Filter</h3>
<ul>
  <li>Filter by label</li>
  <li>Filter by author name</li>
  <li>Search by title and description</li>
</ul>
<button>Creat a issue</button>

Create issue page
<a href="/create-issue">Create issue page</a>
