<h1>Create Project Page</h1>

<form action="/create-project" method="POST">
  <label for="name">Name</label>
  <input id="name" name="name" required type="text" />

  <label for="description">Description</label>
  <input id="description" name="description" required type="text" />

  <label for="author">Author</label>
  <input id="author" name="author" required type="text" />
  <button>create a project</button>
</form>
